[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
pydantic = "*"
fastapi = {extras = ["all"], version = "*"}
torch = "*"
scikit-learn = "==1.5.2"
numpy = "*"
scipy = "*"
gunicorn = "*"
pandas = "*"
[dev-packages]

[requires]
python_version = "3.11"